.paramInput {
	width: fit-content;
}

.correctAnsw {
	color: green;
}

.falseAnsw {
	color: red;
}

.light {
	width: 1em;
	height: 1em;
	border-radius: 100%;
}

.lit {
	background-color: white;
}

.extinguished {
	box-sizing: border-box;
	border: 3px solid white;
	background-color: black;
}

.wire-line {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 90%;
	margin: 1% 0;
}

.star svg {
	height: 1.5em;
	width: 1.5em;
	color: transparent;
}

.star-active svg {
	color: yellow;
}

.wire {
	height: 75%;
	width: 1em;
}

/* Wire colour gradients */
.w {
	background-color: white;
}

.r {
	background-color: red;
}

.b {
	background-color: red;
}

.rw {
	box-sizing: border-box;
	border: 2px solid red;
	background: linear-gradient(120deg,
			red 0%,
			red 10%,
			white 10%,
			white 20%,
			red 20%,
			red 30%,
			white 30%,
			white 40%,
			red 40%,
			red 50%,
			white 50%,
			white 60%,
			red 60%,
			red 70%,
			white 70%,
			white 80%,
			red 80%,
			red 90%,
			white 90%,
			white 100%);
}

.bw {
	box-sizing: border-box;
	border: 2px solid blue;
	background: linear-gradient(120deg,
			blue 0%,
			blue 10%,
			white 10%,
			white 20%,
			blue 20%,
			blue 30%,
			white 30%,
			white 40%,
			blue 40%,
			blue 50%,
			white 50%,
			white 60%,
			blue 60%,
			blue 70%,
			white 70%,
			white 80%,
			blue 80%,
			blue 90%,
			white 90%,
			white 100%);
}

.br {
	box-sizing: border-box;
	border: 2px solid red;
	background: linear-gradient(120deg,
			red 0%,
			red 10%,
			blue 10%,
			blue 20%,
			red 20%,
			red 30%,
			blue 30%,
			blue 40%,
			red 40%,
			red 50%,
			blue 50%,
			blue 60%,
			red 60%,
			red 70%,
			blue 70%,
			blue 80%,
			red 80%,
			red 90%,
			blue 90%,
			blue 100%);

}

#additional-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	gap: 10px;
}

#additional-info strong {
	color: skyblue;
}

#moduleBody {
	border: 3px solid black;
	color: white;
	text-shadow: 1px 1px 2px black;
	width: 90%;
	height: 20em;
	margin: 0px 5%;
	background-color: #454758;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
}

#prevAttempts {
	max-height: 7em;
	overflow-y: scroll;
}

/* Input Styles */

#submitButton:hover {
	cursor: pointer;
}

/* Popup info box */

#explainBox {
	padding: 1px 15px 10px 15px;
	background-color: rgb(18, 30, 30);
}

#explainBox .away {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 10px;
}

#explainBox h3,
#explainBox h4 {
	color: white;
}
